.dropdown-toggle {
    background-color: #454545;
    border-radius: 8px;
    color: #fff;
}

.dropdown-toggle.show.nav-link {
    background-color: #4f4e4e;
    border-radius: 8px;
    color: #fff;
}

.nav-link {
    color: #c6c6c6;
}

.nav-link:hover {
    color: #fff;
}

.search-input-width {
    width: 200px;
}