.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.list-container {
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.form-container {
    max-width: 310px;
    margin: auto;
}

.header-text {
    margin: 50px;
    padding-top: 20px;
}

.custom-collapse {
    max-height: 0;
    overflow: hidden; 
    transition: max-height 1s ease-in-out; 
    z-index: 1000; 
    position: relative;
}

.custom-collapse.open {
    max-height: 500px; 
}


